@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: 79, 70, 229; /* Primary color */
  --color-secondary: 167, 139, 250; /* Secondary color */
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: 165, 180, 252; /* Primary color for dark mode */
    --color-secondary: 139, 92, 246; /* Secondary color for dark mode */
  }
}

body {
  color: rgb(var(--color-primary));
  background: linear-gradient(
      to bottom,
      rgba(var(--color-primary), 0.1),
      rgba(var(--color-secondary), 0.1)
    ),
    rgb(255, 255, 255);
}

@media (prefers-color-scheme: dark) {
  body {
    background: linear-gradient(
        to bottom,
        rgba(var(--color-primary), 0.1),
        rgba(var(--color-secondary), 0.1)
      ),
      rgb(18, 18, 18);
  }
}


@layer utilities {
  .custom-shadow {
    box-shadow: 0 10px 15px -3px rgba(var(--color-primary), 0.1), 0 4px 6px -2px rgba(var(--color-secondary), 0.05);
  }

}

